[submodule "third_party/jigsawpy"]
	path = third_party/jigsawpy
	url = https://github.com/dengwirda/jigsaw-geo-python
[submodule "third_party/PROJ"]
	path = third_party/PROJ
	url = https://github.com/OSGeo/PROJ.git
[submodule "third_party/gdal"]
	path = third_party/gdal
	url = https://github.com/OSGeo/gdal.git
[submodule "tests/geomesh_test_data"]
	path = tests/geomesh_test_data
	url = git@gitlab.com:jreniel/geomesh_test_data.git
