[MASTER]
fail-on=E
fail-under=9.90
py-version=3.9.7
# As a temporary workaround for https://github.com/PyCQA/pylint/issues/4577
init-hook = "import astroid; astroid.context.InferenceContext.max_inferred = 250"

[MESSAGES CONTROL]
disable=arguments-differ,
        fixme,
        invalid-name,
        unused-variable,
        unused-argument,
        too-many-arguments,
        too-many-locals,
        too-many-lines,
        too-many-nested-blocks,
        too-many-branches,
        too-many-statements,
        too-many-public-methods,
        too-many-instance-attributes,
        too-few-public-methods,
        logging-fstring-interpolation,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        super-init-not-called,
        unspecified-encoding

[TYPECHECK]
ignored-modules=matplotlib, matplotlib.cm
generated-members=ocsmesh.driver.JigsawDriver.hfun,
                  ocsmesh.driver.JigsawDriver.geom,
                  ocsmesh.driver.JigsawDriver.opts,
                  ocsmesh.hfun.hfun.Hfun.*,
                  ocsmesh.mesh.base.BaseMesh._msh_t,
                  ocsmesh.mesh.mesh.EuclideanMesh._boundaries,
                  ocsmesh.mesh.mesh.Mesh.*
ignore-patterns=interp.py,
                cmd.py
