[TYPECHECK]
ignored-modules=matplotlib
generated-members=geomesh.driver.JigsawDriver.hfun,
                  geomesh.driver.JigsawDriver.geom,
                  geomesh.driver.JigsawDriver.opts,
                  geomesh.hfun.hfun.Hfun.*
                  geomesh.mesh.base.BaseMesh._msh_t
                  geomesh.mesh.mesh.EuclideanMesh._boundaries
                  geomesh.mesh.mesh.Mesh.*
