name: Pylint

on: [push]

jobs:
  format-check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Mamba environment for Python
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: ./environment.yml
        environment-name: ocsmesh-env
        extra-specs: |
          python=3.*
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        python ./setup.py install_jigsaw
        pip install .[testing]
    - name: Analysing the code with pylint
      shell: bash -l {0}
      run: pylint ocsmesh
