name: Pylint

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.py'
      - '.github/workflows/*.yml'
      - 'pyproject.toml'
      - 'setup.py'
      - 'setup.cfg'
  pull_request:
    paths:
      - '**.py'
      - '.github/workflows/*.yml'
      - 'pyproject.toml'
      - 'setup.py'
      - 'setup.cfg'

jobs:
  format-check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Mamba environment for Python
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: ./environment.yml
        environment-name: ocsmesh-env
        extra-specs: |
          python=3.12
    - name: Install dependencies
      shell: bash -l {0}
      run: pip install .[testing]
    - name: Analysing the code with pylint
      shell: bash -l {0}
      run: |
        pylint --disable=too-many-positional-arguments ocsmesh
